body {
    font-family: "Outfit", sans-serif;
    background-image: url(../imagens/Ato-3-VALORANT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .cabecalho {
    text-align: center;
    padding: 60px 0;
  }

  .cabecalho h1 {
    color: #f1ecff;
    font-size: 45px;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    width: 450px;
    text-align: center;
    height: 400px;
}

.item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.imagem-galeria {
    width: 450px;
    text-align: center;
    height: 400px;
}


.meio {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 150px;
}

.dota{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}